<!DOCTYPE html>
<html>
<head>
  <title>DemoApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'jquery-2.2.0.min.js' %>
	<%= javascript_include_tag 'handlebars-v4.0.5.js' %>
	<%= javascript_include_tag 'bootstrap-datepicker.js' %>
	<%= javascript_include_tag 'chosen_v1.5.0/chosen.jquery.min.js' %>
	<%= stylesheet_link_tag 'chosen.min.css' %>
	<%= stylesheet_link_tag 'bootstrap.min' %>
	<%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css' %>
<%= javascript_include_tag 'bootstrap.min.js' %>
	   
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>

</body>
</html>
